<!DOCTYPE html>

<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Entertainment Event Ticket Search</title>
 <meta name="USC CSCI571" content="HW8">
 <meta name="author" content="Chenguang He">

 <!--Boostrap attachment, rel refer to css document file(only stylesheet has been support from all browers), integerity is to prevent from CDN (Content deliver network) to change js without permission-->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

 <!--jQuery attachment-->
 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

 <!--Google API for location-->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


 <!--Popper.js is a position engine that locate element with given reference-->
 <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
 
 <!--Twitter API for connection-->
  <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

 <!--Style of the index page-->
 <link rel="stylesheet" type="text/css" href="/style.css">

 <!--AJAX implement-->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/bootstrap-table.min.css" rel="stylesheet"/>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/bootstrap-table.min.js"></script>

</head>
 
	
	

	
